* {
    box-sizing: border-box;
    margin: 0;
    font-family:system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
    background-color: #f6f7fb;
}

header{
    margin: 10px;
    padding: 0 0 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
}
header img{  
    margin: 0 10px 0 10px ;
    border : 1px solid #e5e7eb;
    border-radius: 10px;
}
h1{
    font-size: 115%;
    color: #111827;
}
header p{
    font-size: 14px;
    color: #6b7280;
}



main{
    max-width: 1050px;
    padding: 0 16px 0 16px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
   
}
main h2{
    font-size: 175%;
}
.Gauche{
    border-radius : 16px;
    margin: 20px 5px ;
    padding : 16px;
    border : 1px solid #e5e7eb;
    background-color: #ffffff;
}
.Gauche h2{
    margin: 20px 0px 20px 0px;
    background-color: #ffffff;
}
.Gauche p{
    margin-bottom: 12px ;
    font-size: 14px;
    color: #6b7280;
    background-color: #ffffff;
}

.Recettes{
    font : #fafafa;
    border-radius : 12px;
    Padding : 14px;
    border: 1px solid #e5e7eb;
}
.Recettes h3{
    margin: 20px 0 12px 12px;
    font-size: 135%;
}


.Droite{
    Border-radius : 16px;
    margin: 20px 5px ;
    padding : 16px;
    border : 1px solid #e5e7eb;
    background-color: #ffffff;
}
form{
    background-color: #ffffff;
}
.Droite h3{
    margin: 20px 0px 10px 0px;
    background-color: #ffffff;
    font-size: 135%;
}
label{
    margin: 10px;
    background-color: #ffffff;
}
input{
    Padding : 10px 12px;
    Border-radius : 12px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    width : 100%;
}
textarea{
    Padding : 10px 12px;
    border-radius : 12px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    width : 100%;
}
.Droite p{
    margin: 10px 0 10px 0;
    color: #6b7280;
    background-color: #ffffff;
}
.Droite h4{
    background-color: #ffffff;
    margin-bottom: 5px;
}

.Envoyer{
    padding : 10px 14px;
    border-radius : 12px;
    background-color: #2563eb;
    color:#ffffff;
    width : 100%;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-top: 1px solid #e5e7eb;
}
footer p{
    font-size: 14px;
    color: #6b7280;
    margin: 30px;
}



@media screen and (max-width: 900px) {
    main{
        display: flex;
        flex-direction: column;
    }
}